@model List<EntityLayer.Concrete.Contact>

@{
    ViewData["Title"] = "Rehber App";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Rehber APP</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">LastName</th>
                <th scope="col">Phone</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ContactId</th>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.Phone</td>
                    <td>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#detay" class="btn btn-dark btn-sm detail" onclick="getDetail(@item.ContactId.ToString())">Detay</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="detay" tabindex="-1" aria-labelledby="title" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Detay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>İlk Adres</td>
                            <td>İkinci Adres</td>
                            <td>Uzunluk</td>
                            <td>Kilo</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    function getDetail(data){
        $.ajax({
            url: "/Home/Detail?id=" + data,
            method: "GET",
            success: function(veri){
                $('#tbody').empty();
                $('#title').empty();
                
                let tr = "";
                console.log(veri);
                veri.forEach(e => {
                    tr += "<tr><td>"+e.adress1+"</td><td>"+e.adress2+"</td><td>"+e.height+"</td><td>"+e.weight+"</td></tr>";
                });

                $('#title').append(veri[0].contact.name);
                $('#tbody').append(tr);
            },
            error: function(err){
                console.log(err.responseText);
            }
        });
    }
</script>